* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* new game stuff */
.new-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form#new-game-form {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#player-name-input-label {
    grid-row: 1;
}
#player-name-input {
    grid-row: 1;
}
#num-ai-players-input-label {
    grid-row: 2;
}
#num-ai-players-input {
    grid-row: 2;
}

label {
    text-align: right;
}
  
input[type="text"],
input[type="radio"],
button[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    grid-column: 2;
}
  
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
input[type="radio"] {
margin-left: 5px;
margin-right: 5px;
grid-column: 2
}
  
  input[type="radio"] + label {
    grid-column: 2;
    margin-left: 5px;
  }
  

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    background-color: black;
    padding: 5px;
    margin: 0px 0px 15px 0px;
    font-size: 1rem;
}
.header-left {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    grid-column: 1;
    text-align: left;
}
.header-right {
    font-size: 1rem;
    grid-column: 2;

    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}

/* Styling for the player area */
.player {
    border: 1px dashed gray;
    border-radius: 8px;
    padding: 5px 30px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.player-info {
    grid-column: 1;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.active-player {
    background-color: beige;
  }

.player-cards {
	margin-left: 0px;
	padding: 0px;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: start;
}

/* Styling for the player name */
.player-name {
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-bottom: 10px; */
    text-align: left;
    width: 100px;
}

.player-name-0 {

    color: red;
}
#loading-spinner {
    margin-right: 15px;
}
.player-name-1 {
    color: blue;
}
.player-name-2 {
    color: green;
}
.player-name-3 {
    color: orange;
}

/* Styling for the card */
.card {
    color: black;
    border: 1px solid black;
    background-color: #ebf3f5;
    border-radius: 8px;
    width: 60px;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 7px;
    margin-left: 7px;
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}
.overlapping-card {
    margin-left: -30px;
}

.card-text {
    font-size: 18pt;
}

.card-empty {
    border: 1px dashed black;
    background: none;
}

.chips-counter {
    color: white;
    border: 1px dashed black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orangered;
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: inline-flex;
    font-weight: bold;
}

.score-counter {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: inline-flex;
    font-weight: bold;
}
.score-counter-invisble {
    display: none;
}

.score-container {
    position: relative;
    width: 34px;
    height: 34px;
}
.score-text-container {
    position: absolute;
    top: 3px;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score-bold {
    font-weight: bold;
}
.score-normal {
    font-weight: normal;
}

.commonArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.deck {
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
}

.deck-card {
    color: black;
    background: repeating-linear-gradient(
        45deg,
        gray,
        gray 10px,
        lightgray 10px,
        lightgray 20px
      );
    border: 1px solid black;
    margin: 10px -22px;
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
}

.player .card.last-chosen {
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 5px red;
}

.container {
    display: flex;
    flex-direction: column;
}

.player-turn-banner {
    background-color: gold;
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    display: flex; /* Add display flex */
    align-items: center; /* Vertically align content inside the banner */
    justify-content: center; /* Horizontally align content inside the banner */
  }
  
  .banner-button {
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
  }

  .banner-button.invisible {
    display: none;
    background: none;
  }
  
  .banner-button:hover {
    background-color: darkred;
  }

  .gameWrapper {
    display: flex;
    flex-direction: column;
  }
  

.gameArea { 
    display: flex;
    flex-direction: column;
}
.logArea {
    grid-column: 2;
}
.bottomButtons {
    width: 100%;
    display: flex;
    justify-content: right;
}

.bottom-button {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.bottom-button:hover {
    background-color: darkgray;
  }



  table {
    margin: 0 auto;
    border-spacing: 20px 0px;
  }
  td, th {
    text-align: center;
  }

