* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex; 
    flex-direction: column; 
}

body {
    -webkit-text-size-adjust: 100%;
}

.new-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form#new-game-form {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#player-name-input-label {
    grid-row: 1;
}
#player-name-input {
    grid-row: 1;
}
#num-ai-players-input-label {
    grid-row: 2;
}
#num-ai-players-input {
    grid-row: 2;
}

label {
    text-align: right;
}
  
input[type="text"],
input[type="radio"],
button[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    grid-column: 2;
}
  
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
input[type="radio"] {
margin-left: 5px;
margin-right: 5px;
grid-column: 2
}
  
input[type="radio"] + label {
grid-column: 2;
margin-left: 5px;
}
  

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.header {   
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    display: grid;
    width: 100%;
    background-color: black;
    padding: 5px;
    margin: 0px 0px 1rem 0px;
}
.header-left {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    grid-column: 1;
    text-align: left;
}
.header-right {
    font-size: 0.8rem;
    grid-column: 2;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}


  table {
    margin: 0 auto;
    border-spacing: 20px 0px;
  }
  td, th {
    text-align: center;
  }

