* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

h1 {
    font-family: monospace;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    background-color: black;
    padding: 5px;
    margin: 0px 0px 15px 0px;
}
.header-left {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    grid-column: 1;
    text-align: left;
}
.header-right {
    grid-column: 2;

    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}

/* Styling for the player area */
.player {
    border: 1px dashed gray;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.player-info {
    grid-column: 1;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.active-player {
    background-color: gold;
    padding: 2px;
    border-radius: 5px;
  }

.player-cards {
	margin-left: 0px;
	padding: 0px;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: start;
    /* justify-content: flex-start; */
    /* align-items: center; */
}

/* Styling for the player name */
.player-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    width: 100px;
}



/* Styling for the card */
.card {
    border: 1px solid black;
    background-color: cornsilk;
    border-radius: 8px;
    width: 50px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.card-empty {
    border: 1px dashed black;
    background: none;
}

.chips-counter {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orangered;
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: inline-flex;
    font-weight: bold;
}

.score-counter {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: inline-flex;
    font-weight: bold;
}

.commonArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.deck {
    margin: 0px 40px;
    display: flex;
    flex-wrap: wrap;
}

.deck .card {
    background: repeating-linear-gradient(
        45deg,
        gray,
        gray 10px,
        lightgray 10px,
        lightgray 20px
      );
    border: 1px solid black;
    margin: 10px -22px;
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
}

.player .card.last-chosen {
    /* border: 2px solid yellow; */
    box-shadow: 0px 0px 5px red;
}

.container {
    display: flex;
    flex-direction: column;
}

.player-turn-banner {
    background-color: beige;
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    display: flex; /* Add display flex */
    align-items: center; /* Vertically align content inside the banner */
    justify-content: center; /* Horizontally align content inside the banner */
  }
  
  .banner-button {
    background-color: slateblue;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
  }

  .banner-button.invisible {
    display: none;
    background: none;
  }
  
  .banner-button:hover {
    background-color: darkslateblue;
  }

  .gameWrapper {
    display: flex;
    flex-direction: column;
  }
  

.gameArea { 
    display: flex;
    flex-direction: column;
}
.logArea {
    grid-column: 2;
}
.bottomButtons {
    width: 100%;
    display: flex;
    justify-content: right;
}

.bottom-button {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.bottom-button:hover {
    background-color: darkgray;
  }

  .overlapping-card {
    margin: 10px 10px 10px -22px;
  } 
  