<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NoThanksBot - Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone/babel.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='page_style.css') }}">
</head>
<body>
  {% include "header.html" %}

  <div class="content_container">
    <div class="content_div">
  
    <h1>Rules</h1>
    <h2>Setup</h2>
    <ul>
      <li><i>No Thanks!</i> is played with a deck of cards numbered from 3 to 35, nine of which are removed at random at the start of the game.</li>
      <li>The remaining cards are shuffled and placed as a face-down deck in the play area. </li>
      <li>The top card of the deck is drawn and placed face up in the center of the play area.</li>
      <li>Each player starts with 11 chips.</li>
      <li>The first player is selected at random.</li>
      </ul>
    <h2>Gameplay</h2>
    <ul>
      <li>On your turn, you must must either (1) pass, by playing a chip from your chip supply onto the center card, or (2) take the center card and place it face up on the table in front of you. If you take the center card, you also take any chips that have accumulated on it, placing the chips in your chip supply.</li>
      <li>If you take the center card, it remains your turn. You must flip over the next card from the top of the deck and place it face up in the center of the play area. Then, as before, you must either (1) pass by playing a chip from your chip supply onto the center card, or (2) take the center card (along with any chips on it) and place it face up in front of you.</li>
      <li>It remains your turn until you pass by playing a chip onto the center card. When you pass by playing a chip onto the center card, play continues to the next player.</li>
      
    </ul>
    <h2>Game end</h2>
      <ul>
        <li>The game ends immediately when the last center card is taken by a player.</li>
        <li>Players score points equal to the sum of the lowest card in each consecutive sequence of cards they have, minus the number of chips they have. The player with the lowest score wins.</li>
        </li>
    </ul>
    </div>
  </div>

  <script type="text/babel" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
