<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NoThanksBot - Rules</title>
    <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone/babel.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% include "header.html" %}
  <h1>Rules</h1>
  <p>Rules</p>
  <script type="text/babel" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
