<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NoThanksBot - Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone/babel.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rules_style.css') }}">
</head>
<body>
  {% include "header.html" %}

  <div class="rulesContainer">
    <div class="rules">
  
    
    <h1>Rules</h1>
    <h2>Quick summary</h2>
    </p>On your turn, either pass by paying a chip into the center or take the center card along with any chips in the center.</p>
    <p>If you take the center card, flip over the next card in the deck, place it in the center, and repeat (i.e., pass by paying a chip or take the center card).</p>
    <p>Continue taking cards until you pass by playing a chip, at which point play continues to the next player.</p>
    <p>The game ends when all cards have been taken. Your score is the sum of the lowest cards in every consecutive sequence of cards you have <b>minus</b> the number of chips you have. The player with the lowest score wins.</p>
    <h2>Setup</h2>
    <p>The deck has 33 numbered cards, from 3 to 35, one card for each number.
    <p>Shuffle the deck and remove 9 random cards from the game without looking at them.</p>
    <p>Deal 11 chips to each player.</p>
    <p>Choose the starting player randomly.</p>
    <h2>Gameplay</h2>
      <p>If you are the starting player, turn over the top card of the deck and places it face up in the center.</p>
      <p>On your turn, you must either TAKE CARD or PASS.</p>
      <ul>
        <li>TAKE CARD: Take the face-up card in the center and place it face up in front of you. Also take all the chips in the center, if any.</li>
        <li>PASS: When you pass, you must place one of your chips into the center.</li>
      </ul>
      <p>If you TAKE CARD, turn over the top card of the deck and place it in the center. This is the new center card. It is still your turn and you must TAKE CARD or PASS (by paying another chip into the center). As long as you keep taking cards, keep turning over the top card of the deck and placing it in the center and then either TAKE CARD or PASS. Your turn ends only when you PASS. </p>

      
      <p>If you do not have any chips, you cannot PASS and you <b>must</b> TAKE CARD.</p>
      <p>Play continues until all cards in the deck have been taken by players. When the last card is taken, the game is over. Calculate the scores and determine the winner.</p>
      <h2>Scoring</h2>
      <p>Each card you have face up in front of you is worth points according to the number printed on it (e.g., a card with a 5 is worth 5 points).</p>
      <p>However, for every sequence of consecutive cards you have in front of you, only the <b>lowest</b> card in that sequence counts towards your score (e.g., having cards 5, 6, and 7 counts only as 5 points).</p>
      <p>Each chip counts as -1 point.</p>
      <h2>Winning</h2>
      <p>The player with the lowest number of points wins the game. In case of a tie on points, the tied player with the fewest cards wins. In the case of a tie on points and fewest cards, the tied player who comes latest in play order wins.</p>
    </div>
    </div>

  <script type="text/babel" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
